body {
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

* {
  margin-bottom: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Roboto", sans-serif;
  background-color: rgb(24, 24, 24);
  width: 100%;
  min-height: 100vh;
}
